<div class="content">
  <h2>Über Markus</h2>
  <p>
    Ja ja, der Markus. Das ist schon ein Original. Neulich hatte er die Idee, sich auf seiner Internetseite
    vorzustellen. Also sitze ich hier und fang einfach mal an, was zu schreiben. Da ich sowieso gerne schreibe
    tut mir das nicht weh, und etwas Selbstreflektion (äh, ich meine natürlich Fremdreflektion, also, vom Markus
    halt, ne?) ist ja bekanntlich immer gut. Ich fühle schon jetzt, nach einigen Worten, wie befreiend
    dieser Akt ist. Ich kann schreiben was ich will, und du liest es auch noch.
    Ich hoffe, du fühlst dich nicht allzu benutzt.
  </p>
  <p>Tja, also der Markus. Der Markus ist Informatiker und sehr um den Schutz seiner Daten bemüht.
    Deswegen ist er auch weder bei Facebook, noch bei WhatsApp (waaas?!). Sein Nachname soll anonym bleiben, bitte nicht
    in der URL nachschauen. Er weiß natürlich, dass er der Welt zeigen muss, sozial kompetent
    zu sein. Deswegen pflegt er trotzdem einige öffentliche Accounts. Die benutzt er aber auch,
    um ein professionelles Bild von sich zu zeichnen. Der Schlingel.

    Du kannst ihn zum Beispiel auf
    <a class="link link--inline" href="https://www.xing.com/profile/Markus_Ende" target="_blank">Xing</a> kontaktieren, oder
    ihm bei
    <a class="link link--inline" href="https://twitter.com/_der_markusende" target="_blank">Twitter</a> folgen.
  </p>
  <p>
    Er ist passionierter Softwareentwickler und beschäftigt sich tatsächlich auch in seiner Freizeit gerne mit allem was mit Softwareentwicklung zu tun hat.
    Zum Beispiel mit esoterischen Programmiersprachen wie Piet oder Whitespace.
    Falls dich das auch interessiert:
    besuch ihn doch mal bei
    <a class="link link--inline"  href="https://www.codewars.com/users/markusende" target="_blank">Codewars</a> und
    stöber durch seine bearbeiteten Code Katas.
    Der Quelltext dieser Internetseite ist übrigens auf seinem
    <a class="link link--inline" href="https://github.com/Markus-Ende/markusende.de" target="_blank">GitHub Account</a> einsehbar.
    Einige seiner Frontendexperimente sind auch auf
    <a class="link link--inline" href="https://codepen.io/markusende/" target="_blank">CodePen</a> zu sehen.

  </p>
  <p>
    Markus arbeitet derzeit bei der
    <a class="link link--inline" href="https://www.esolutions.de" target="_blank">e.solutions GmbH</a>, einem gemeinsamen Tochterunternehmen von Audi
    und Elektrobit. Dort entwicklt er Infotainmentsysteme für die Automobilbranche.
    Früher hat er dies mit Java und einem in-house entwickelten Framework getan, nun mit Angular und Typescript.
    Spannend an der Frontendentwicklung im Auto sind vor allem die besonderen Anforderungen bezüglich
    Performance, die aus den Hardwarevorgaben entstehen.
    Ein weiteres Thema, das ihn besonders interessiert, ist das Testen. Er ist der Meinung, dass test-driven development
    nicht zu jedem passen muss, aber dass es zumindest jeder mal ausprobiert haben sollte.
  </p>
  <p>
    Was mich zum nächsten Thema bringt &ndash; Kinder. Markus hat zwei davon, und die müssen auch immer erst alles probieren
    bevor sie sagen dürfen, dass es ihnen nicht schmeckt. Er lebt mit ihnen und seiner Frau in einer gemeinsamen Wohnung in Erlangen.
    Sie haben keine Haustiere, aber wenn, dann wären sie definitiv eher Hunde- als Katzentypen.
    Sie spielen gerne Brettspiele mit Freunden (Nerds!)
    und lesen viel, vor allem Fantasyromane (Nerds!). Außerdem schauen sie gerne mal eine Serien an, seit sie wegen den Kleinen nicht mehr so oft
    ins Kino kommen. Game of Thrones können sie nicht mehr anschauen, weil sie immer noch auf das neueste Buch warten und nicht gespoilert
    werden wollen. Außer für Filme interessieren sie sich auch für Theater.
  </p>
  <p>
    Sie sitzen aber nicht nur ständig auf der Couch rum sondern bewegen sich auch gern (Freaks!). Markus zum Beispiel
    seit vielen Jahren auf der Bühne der
    <a class="link link--inline" href="http://www.theater-uttenreuth.de/" target="_blank">Theatergruppe Uttenreuth</a>.
    Ansonsten die üblichen Verdächtigen wie Radfahren, Wandern mit den Kids
    oder auch Laufen gehen (wenigstens einmal alle paar Wochen, wenn die Knie mitmachen. Man wird halt doch nicht jünger).
    In seinem eigenen Fitnessstudio (Yogamatte im Wohnzimmer) hält Markus sich auch noch recht fleißig mit Workouts fit, hauptsächlich mit Eigengewicht.
    Freeletics findet er doof, weil die ihm zu elitär tun. Als Alternative empfielt er
    <a class="link link--inline" href="https://kernwerk.de" target="_blank">Kernwerk</a>.
  </p>
  <p>So, was gibt's noch zu sagen? Vielleicht noch, dass er die direkte Kommunikation mag, ein humorvoller, echt toller Typ ist, und
    normalerweise nicht von sich selbst in der dritten Person redet.
    Wenn du noch Fragen hast, seine Telefonnummer steht im Telefonbuch (soviel zum Datenschutz).</p>
</div>
