<h1 class="headline">Markus Ende</h1>
  <div class="external-links">
    <div class="external-links__item"><a class="link"href="https://codepen.io/markusende/" target="_blank">My experiments on <span class="highlight">CodePen</span></a></div>
    <div class="external-links__item"><a class="link" href="https://github.com/Markus-Ende/markusende.de" target="_blank">Source code of this page on my <span class="highlight">GitHub</span> account</a></div>
    <div class="external-links__item"><a class="link" href="https://twitter.com/_der_markusende" target="_blank">Follow me on <span class="highlight">Twitter</span></a></div>
    <div class="external-links__item"><a class="link" href="https://www.xing.com/profile/Markus_Ende" target="_blank">Contact me on <span class="highlight">Xing</span></a></div>
    <div class="external-links__item"><a class="link" href="https://www.codewars.com/users/markusende" target="_blank">Do some <span class="highlight">Codewars</span> coding katas with me</a></div>
  </div>
