<div class="parallax">
    <div class="parallax__layer parallax__layer--back">
        <me-art></me-art>
    </div>
    <div class="parallax__layer parallax__layer--mid">
        <a href="https://www.google.de/search?q=learn+german" target="_blank">Translate</a>
        <me-hello></me-hello>


    </div>
    <div class="parallax__layer parallax__layer--front">
        <div>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA </div>
    </div>
</div>