@import '../scss/colors';

:host {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 0 10%;
  height: 100%;
  background-color: $color-background;
  color: $color-primary;
}

.headline {
  align-self: flex-end;
  color: $color-secondary;
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-size: 7vh;
}

.external-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: .8;
  min-height: 50vh;
  align-self: center;
  font-family: 'Lora', serif;
  font-size: 4vh;
}

.external-links__item {
  &:before {
    content: '> ';
  }
}

.link,
.link:active,
.link:visited {
  text-decoration: none;
  color: $color-primary;
}

.external-links__item:hover {
  &:before {
    color: $color-secondary;
  }
  .highlight {
    color: $color-secondary;
  }
}

.highlight {
  font-family: 'Lobster', cursive;
}