<h1 class="headline">Hi, ich bin Markus</h1>

<div @staggerAnimation>
  <p>
    <span>Ich bin Softwareentwickler aus Leidenschaft und weil ich Geld brauche.</span>
    <span>Ich mag schöne grafische Benutzeroberflächen und die deutsche Sprache.</span>
  </p>

  <span>Wenn du wissen willst, was ich so mache:</span>
  <ul>
    <li><a href="https://twitter.com/_der_markusende" target="_blank">folge mir auf <em>Twitter</em></a></li>
    <li><a href="https://www.xing.com/profile/Markus_Ende" target="_blank">kontaktiere mich auf <em>Xing</em></a></li>
    <li><a href="https://github.com/Markus-Ende/markusende.de" target="_blank">lies den Quelltext dieser Seite auf <em>GitHub</em></a></li>
    <li><a href="https://www.codewars.com/users/markusende" target="_blank">mach' ein paar <em>Katas</em> mit mir</a></li>
    <li><a href="https://codepen.io/markusende/" target="_blank">schau meine Experimente auf <em>CodePen</em> an</a></li>
    <li><a href="http://www.consort-it.de/">sieh dir an wo ich arbeite</a></li>
  </ul>
  <pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      |</pre><pre>
      v</pre>
</div>




